:root {
  --main: #3c6e71;
  --second: #284b63;
  --third: #d9d9d9;
  --signal-1: #f72585;
  --signal-2: #ba009b;
  --bright: #ffffff;
  --dark: #353535;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
